@font-face {
  font-family: 'PT Serif';
  src: url('../src/fonts/PTSerif-BoldItalic.woff2') format('woff2'),
      url('../src/fonts/PTSerif-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lobster';
  src: url('../src/fonts/Lobster-Regular.woff2') format('woff2'),
      url('../src/fonts/Lobster-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Staatliches';
  src: url('../src/fonts/Staatliches-Regular.woff2') format('woff2'),
      url('../src/fonts/Staatliches-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../src/fonts/RobotoSlab-Bold.woff2') format('woff2'),
      url('../src/fonts/RobotoSlab-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Oleo Script Swash Caps';
  src: url('../src/fonts/OleoScriptSwashCaps-Regular.woff2') format('woff2'),
      url('../src/fonts/OleoScriptSwashCaps-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url('../src/fonts/Caveat-Bold.woff2') format('woff2'),
      url('../src/fonts/Caveat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('../src/fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../src/fonts/Rubik-Medium.woff2') format('woff2'),
      url('../src/fonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
}

.background-img {
  width: 100vw;
  height: 100vh;
  background-color: #ebad88;
  background-image: url('./img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* ----- Info Text ----- */
.info-container {
  width: 23em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(80deg, transparent, rgba(255, 255, 255, .65), rgba(255, 255, 255, .85), rgba(255, 255, 255, .65), transparent);
  margin: .75em;
}

.info-text {
  color: #188ccf;
  font-family: 'PT Serif';
  font-size: .9em;
  letter-spacing: .5px;
  text-align: center;
  padding: .65em;
}

/* ----- Quote Pad ----- */
.quote-pad {
  width: 23em;
  background-image: linear-gradient(#958574, #685b4d);
  border-radius: .5em;
  padding-bottom: 1.2em;
  overflow: hidden;
}

/* ----- Pad Header ----- */
.app-header {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(#474149, #352d36);
  border-bottom: 1px solid #262227;
}

.app-title {
  color: white;
  font-family: 'Lobster';
  font-size: 1.65em;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: .5em;
}

/* ----- Add Button ----- */
.add-button {
  width: 4em;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #c53f53;
  color: white;
  font-family: 'Staatliches';
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  border: none;
  border: 5px solid transparent;
  border-radius: .2em;
  outline: none;
  cursor: pointer;
  margin-right: .65em;
}

.icon {
  font-size: 1em;
}

.add-button:hover {
  background-color: #e64860;  
}

/* ----- Quote Form ----- */
.quote-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: .75em 0;
}

.form-group {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-bottom: .5em;
}

label {
  font-family: 'Roboto Slab';
  font-size: .8em;
  padding-left: .3em;
  margin-bottom: 1px;
}

input {
  background-color: #efe8d7;
  border: 1px solid #898376;
  padding: .4em;
  font-size: .65em;
  outline: none;
}

input:focus {
  border: 1px solid #403b42;  
}

input:focus::placeholder {
    color: transparent;
}

.write-button {
  width: 4.75em;
  height: 1.85em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .35em 0 .35em;
  border: 2px solid transparent;
  border-radius: .2em;
  background-color: #b0bdc0;
  cursor: pointer;
  color: #2e2850;
  font-family: 'Oleo Script Swash Caps';
  font-size: 1em;
  letter-spacing: 1px;
  outline: none;
  margin: .25em;
}

.write-icon {
  font-size: 1.15em;
}

.write-button:hover {
  background-color: #c4dde2;
  color: #4737a0;
  border: 2px solid #4737a0;  
}

/* ----- Quotes Container ----- */
.quotes-container {
  width: 92%;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, .35);
  border-top: none;
  border-radius: 0 0 .5em .5em;
  overflow: hidden;
}

/* ----- Quote ----- */
.quote {
  background-color: #fff6d5;
  background-image: url('../src/img/paper-texture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Caveat';
  letter-spacing: 1px;
  padding: .5em .7em;
  border-top: 3px solid #87a7d3;
}

.quote-text {
  color: #3e45ad;
  font-size: 1.4em;
}

.author {
  color: #b63b60;
  font-size: 1.35em;
  text-align: right;
  padding-top: .25em;
  padding-right: .25em;
}

/* ----- No Quotes ----- */
.no-quotes {
  display: flex;
  justify-content: center;
  font-family: 'Poppins';
  font-size: .75em;
  color: white;
  margin-top: 1em;
}

/* ----- Footer Text ----- */
.footer-text {
  height: 4.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #6d3455;
  font-family: 'Rubik';
  font-size: .8em;
}

.footer-text a {
  color: inherit;
}

.footer-text a:hover {
  color: white;
}

/* ----- Submit Message ----- */
.submit-message {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in-out;
}

.message-body {
  background-image: linear-gradient(#ffe79c, #ffbb6b);
  border-radius: .3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Oleo Script Swash Caps';
  font-size: 1.15em;
  color: #a3477d;
  padding: 1em;
  border: .25em solid white;
}

.message-button {
  width: 4.3em;
  background-image: linear-gradient(#474149, #352d36);
  font-family: 'Oleo Script Swash Caps';
  font-size: .95em;
  color: white;
  letter-spacing: 1px;
  border-radius: .2em;
  border: 2px solid #352d36;
  margin-top: .5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: .1em .25em;
  outline: none;
}

.message-button:hover {
  background-image: linear-gradient(hsl(285, 6%, 34%), hsl(293, 9%, 26%));
}

/* ----- Media Queries ----- */
@media screen and (max-width: 1600px) {
  .container {
    font-size: 20px;
  }  
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .container {
    font-size: 30px;
  }  
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 22px;
  }

  .info-container {
    width: 90vw;
  }

  .quote-pad {
    width: 90vw;
  }
}

@media screen and (max-width: 450px) {
  .container {
    font-size: 18px;
  }

  .form-group {
    width: 80%;
  }

  label {
    font-size: .9em;
    margin-bottom: 2px;
  }

  input {
    font-size: .85em;
    padding: .35em;
  }

  .quote {
    border-top: 2px solid #87a7d3;
  }
}

@media screen and (max-width: 300px) {
  .container {
    font-size: 14px;
  }
}